
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
    transition: background-color 0.5s, background-image 0.5s;
    font-family: Arial, sans-serif;
}

.button-container {
    margin-top: 20px;
}

button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    /* background-color: #007BFF; */
    /* color: white; */
    transition: background-color 0.3s;
}
h2{
    text-align: center;
}
button:hover {
    background-color: #a5dcf5;
}

